# Node.js & React
node_modules/
.vite/
dist/
.env
yarn.lock
package-lock.json
.cache/
.pm2/
.npm/
.htaccess

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
*.lock
.idea/
.vscode/

# Deployment keys or secrets
private_key.pem
*.pem
.env
*.crt
*.key

#Wordpress
competition/wp-admin/
competition/wp-content/index.php
competition/wp-content/languages
competition/wp-content/plugins/index.php
competition/wp-content/themes/index.php
competition/wp-includes/
competition/index.php
competition/license.txt
competition/readme.html
competition/wp-*.php
competition/xmlrpc.php
competition/wp-content/plugins/hello.php
competition/wp-content/uploads/
competition/.htaccess
competition/wp-content/plugins/competitions/_inc/custom_url.js
competition/wp-content/plugins/competitions/_inc/ckfinder/config.php
git.sh
